@inject SignInManager<CustomUser> SignInManager
@inject UserManager<CustomUser> UserManager
@model IEnumerable<MyPortfolioWebApp.Models.Board>

@{
    ViewData["Title"] = "게시판";
    var startPage = ViewBag.StartPage as int? ?? 1;
    var endPage = ViewBag.EndPage as int? ?? 1;
    var page = ViewBag.Page as int? ?? 1;
    var totalPage = ViewBag.TotalPage as int? ?? 1;
    var search = ViewBag.Search as string ?? "";
}


<section class="section-header">
    <div class="container section-title" data-aos="fade-up">
        <div class="text-center mb-4">
            <h2 class="fw-bold text-primary">게시판 목록</h2>
                <a asp-action="Create" class="btn btn-success mt-2">
                    <i class="bi bi-plus-circle me-1"></i> 글쓰기
                </a>
        </div>


        <form asp-action="Index" method="get" class="mb-3">
            <div class="input-group input-group-sm justify-content-end">
                <input type="text" id="search" name="search" class="form-control-sm" value="@search" />
                <button type="submit" class="btn btn-success">검색</button>
            </div>
        </form>

        <div class="board-table" data-aos="fade-up" data-aos-delay="300">
            <table class="table table-bordered table-hover align-middle text-center">
                <thead class="table-bordered">
                    <tr>
                        <th>이메일</th>
                        <th>작성자</th>
                        <th>제목</th>
                        <th>내용</th>
                        <th>작성일</th>
                        <th>조회수</th>
                        <th>관리</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Email)</td>
                            <td>@Html.DisplayFor(modelItem => item.Writer)</td>
                            <td class="text-start">@Html.DisplayFor(modelItem => item.Title)</td>
                            <td class="text-start">@Html.DisplayFor(modelItem => item.Contents)</td>
                            <td class="content-center">@Html.DisplayFor(modelItem => item.PostDate)</td>
                            <td>@item.ReadCount</td>
                            <td>
                                <div class="btn-group">
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary btn-sm">수정</a>
                                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-secondary btn-sm">상세</a>
                                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger btn-sm">삭제</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="text-center mt-3">
            <ul class="pagination pagination-sm justify-content-center">
                @if (page > 1)
                {
                    <li class="page-item"><a href="?page=1&search=@search" class="page-link">≪</a></li>
                    <li class="page-item"><a href="?page=@(page - 1)&search=@search" class="page-link">＜</a></li>
                }

                @for (int i = startPage; i <= endPage; i++)
                {
                    if (i == page)
                    {
                        <li class="page-item active"><a class="page-link" href="?page=@i&search=@search">@i</a></li>
                    }
                    else
                    {
                        <li class="page-item"><a class="page-link" href="?page=@i&search=@search">@i</a></li>
                    }
                }

                @if (page < totalPage)
                {
                    <li class="page-item"><a href="?page=@(page + 1)&search=@search" class="page-link">＞</a></li>
                    <li class="page-item"><a href="?page=@totalPage&search=@search" class="page-link">≫</a></li>
                }
            </ul>
        </div>
    </div>
</section>
